<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">

        <div align="center">

            <h1>Today's Winner</h1>
            <a href="/" class="btn">Entry Page </a>
            <p> Highest amount of purchases done by (user_name), Whose contact number is (phone_number)</p>

            <h2>CLICK THE BUTTON TO SEE THE WINNER</h2>
            <button>WINNER</button>






        </div>
    </div>
    
</body>
</html>